*,
*::before *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--brandcolor);
  background: var(--fifhtcolor);
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  margin: 0;
}
button {
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer {
  background-color: var(--sixthcolor);
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.brandname {
  display: block;
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.header__brandname {
  color: var(--secondcolor);
  margin-right: 93px;
}
.pieceofbrand {
  color: var(--fourthcolor);
}
.nav__link {
  font-weight: 500;
  text-align: left;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--fourthcolor);
}
.currentsite {
  color: var(--fourthcolor);
  position: relative;
}
.currentsite::after {
  content: '';
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
  position: absolute;
  width: 53px;
  top: 46px;
  left: 0;
}
.currentsiteportfolio {
  color: var(--fourthcolor);
  position: relative;
}
.currentsiteportfolio::after {
  content: '';
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
  position: absolute;
  width: 57px;
  top: 46px;
  left: 0;
}
.list {
  display: flex;
  gap: 46px;
  letter-spacing: 0.02em;
}
.contact__img {
  margin-right: 10px;
  fill: currentColor;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--fourthcolor);
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: currentColor;
  letter-spacing: 0.02em;
  font-size: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  color: var(--thirdcolor);
  margin-left: 350px;
}

.main-section {
  background-color: var(--sixthcolor);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%),
    url(../images/backgroundimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.main-section__header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--fifhtcolor);
  margin-bottom: 30px;
  width: 696px;
}
.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--fourthcolor);
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
}
.main-section__button {
  text-align: center;
  padding: 10px 41px;
  margin: 0 auto;
}
.list {
  display: flex;
  gap: 30px;
}

.loremsection__item {
  flex-basis: calc((100%- 90px) / 4);
}
.loremsection__background {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.ourteam {
  padding-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.loremsection__header {
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--brandcolor);
  margin-bottom: 10px;
  font-size: 14px;
}
.loremsection__description {
  line-height: 1.71;
  text-align: left;
  color: var(--thirdcolor);
}
.secondheader {
  letter-spacing: 0.03em;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--brandcolor);
  margin-bottom: 50px;
}
.lastsection--background {
  background-color: var(--ninthcolor);
}
.ourteam__item {
  position: relative;
}
.ourteam__applications {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  color: var(--fifhtcolor);
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
}
.lastsection__employee {
  border-radius: [object Object]px;
  background-color: var(--fifhtcolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.lastsection__employee-name {
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--brandcolor);
  margin-bottom: 10px;
}
.lastsection__employee-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.lastsection__employee-position {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--thirdcolor);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social__link {
  display: flex;
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--fifhtcolor);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  color: var(--fifhtcolor);
  background-color: var(--fourthcolor);
}
.social__instagram,
.social__linkedin,
.social__facebook,
.social__twitter {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.customer-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.customer-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-list__icon {
  fill: currentColor;
}
.customer-list__link:hover,
.customer-list__link:focus {
  color: #2196f3;
}
.adress__contactfooter {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__contactfooter:hover,
.adress__contactfooter:focus {
  color: var(--fourthcolor);
  cursor: pointer;
}
.adress__localization {
  display: block;
  line-height: 1.71;
  color: var(--fifhtcolor);
  font-style: normal;
}
.adress__list {
  display: block;
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__brandname {
  text-align: left;
  color: var(--fifhtcolor);
  margin-bottom: 20px;
  margin-right: 171px;
}
.adress__localization {
  margin-right: 70px;
}
.footer__joinus-slogan {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--fifhtcolor);

  margin-bottom: 20px;
}

.social--footer {
  fill: var(--fifhtcolor);
}
.social__link-click {
  background: rgba(255, 255, 255, 0.1);
}

.footer__container {
  display: flex;
  align-items: baseline;
}
.newsletterform {
  margin-left: 78px;
}
.newsletterform__signup {
  display: block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--fifhtcolor);
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
}
.newsletterform__flex {
  display: flex;
}
.newsletterform__email {
  border: 1px solid #ffffff4d;
  width: 358px;
  padding: 15px 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletterform__email:hover,
.newsletterform__email:focus {
  outline: none;
  border-color: var(--fourthcolor);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.newsletterform__button {
  width: 201px;
  height: 50px;
  padding-left: 42px;
  padding-right: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  fill: var(--fifhtcolor);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletterform__button:hover,
.newsletterform__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.newsletterform__arrow {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px 40px;
}
.form__paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
  margin-bottom: 12px;
}
.form__namelabel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
  margin-bottom: 4px;
}
.user-container {
  position: relative;
  margin-bottom: 10px;
}
.form__user-name {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__user-name:hover,
.form__user-name:focus {
  border-color: #2196f3;
  outline: none;
}
.form__user-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__user-name:hover + .form__user-icon,
.form__user-name:focus + .form__user-icon {
  fill: #2196f3;
}

.form__phonelabel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
  margin-bottom: 4px;
}

.form__user-phone {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__user-phone:hover,
.form__user-phone:focus {
  border-color: #2196f3;
  outline: none;
}
.form__phone-icon {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__user-phone:hover + .form__phone-icon,
.form__user-phone:focus + .form__phone-icon {
  fill: #2196f3;
}
.form__email-account-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
  margin-bottom: 4px;
}
.form__user-email-account {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__user-email-account:hover,
.form__user-email-account:focus {
  border-color: #2196f3;
  outline: none;
}
.form__email-icon {
  position: absolute;
  width: 15px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 13.5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__user-email-account:hover + .form__email-icon,
.form__user-email-account:focus + .form__email-icon {
  fill: #2196f3;
}
.form__comment-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
  margin-bottom: 4px;
}
.form__comment:placeholder-shown {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}
.form__comment:hover,
.form__comment:focus {
  border-color: #2196f3;
  outline: none;
  color: #000000;
}
.form__politcslabel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--thirdcolor);
  cursor: pointer;
  padding-left: 37px;
}

.form__statute-politics {
  text-decoration: underline;
  color: var(--fourthcolor);
}

.form__confirmation-icon {
  width: 16px;
  height: 15px;
  fill: var(--fifhtcolor);
  z-index: 1;
  opacity: 0;
  position: absolute;
  left: 54px;
  top: 437px;
}

.form__politics-confirmation {
  width: 16px;
  height: 15px;
  outline: 1px solid var(--brandcolor);
  appearance: none;
  border-radius: 2px;
  z-index: 2;
  opacity: 0;
  position: absolute;
  left: 54px;
  top: 437px;
}
.form__checbox_empty {
  width: 16px;
  height: 15px;
  z-index: 0;
  opacity: 1;
  position: absolute;
  left: 54px;
  top: 437px;
}

.form__politics-confirmation:checked + .form__confirmation-icon {
  opacity: 1;
}
.form__sendbutton {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__sendbutton:hover,
.form__sendbutton:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form__close-btn-icon {
  width: 11px;
  height: 11px;
}
.form__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  left: 490px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.buttonslist_btn {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: var(--ninthcolor);
  color: var(--brandcolor);
  font-family: 'Roboto';
  padding: 6px 22px;
  letter-spacing: 0.03em;
  line-height: 1.62;
  box-shadow: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonslist {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.buttonslist_btn:hover,
.buttonslist_btn:focus {
  color: var(--fifhtcolor);
  background-color: var(--fourthcolor);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.box {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 49px 45px 49px 24px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--fifhtcolor);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.imagelist__link:hover .overlay,
.imagelist__link:focus .overlay {
  transform: translateY(0%);
}
.imagelist {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.imagelist__link {
  display: block;
  width: 370px;
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.imagelist__link:hover,
.imagelist__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.imagelist__border {
  padding-top: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.imagelist__header {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--brandcolor);
  margin-bottom: 4px;
}
.imagelist__description {
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: var(--thirdcolor);
  letter-spacing: 0.03em;
}
