.form {
  &__paragraph {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $brandcolor;
    margin-bottom: 12px;
  }
  &__namelabel {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $thirdcolor;
    cursor: pointer;
    margin-bottom: 4px;
  }

  &__user-name {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__user-name:hover,
  &__user-name:focus {
    border-color: $fourthcolor;
    outline: none;
  }
  &__user-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__user-name:hover + &__user-icon,
  &__user-name:focus + &__user-icon {
    fill: $fourthcolor;
  }

  &__phonelabel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $thirdcolor;
    cursor: pointer;
    margin-bottom: 4px;
  }

  &__user-phone {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__user-phone:hover,
  &__user-phone:focus {
    border-color: $fourthcolor;
    outline: none;
  }
  &__phone-icon {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__user-phone:hover + .form__phone-icon,
  &__user-phone:focus + .form__phone-icon {
    fill: $fourthcolor;
  }
  &__email-account-label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $thirdcolor;
    cursor: pointer;
    margin-bottom: 4px;
  }
  &__user-email-account {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__user-email-account:hover,
  &__user-email-account:focus {
    border-color: $fourthcolor;
    outline: none;
  }
  &__email-icon {
    position: absolute;
    width: 15px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 13.5px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__user-email-account:hover + &__email-icon,
  &__user-email-account:focus + &__email-icon {
    fill: $fourthcolor;
  }
  &__comment-label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $thirdcolor;
    cursor: pointer;
    margin-bottom: 4px;
  }
  &__comment:placeholder-shown {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &__comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;
  }
  &__comment:hover,
  &__comment:focus {
    border-color: $fourthcolor;
    outline: none;
    color: $secondcolor;
  }
  &__politcslabel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $thirdcolor;
    cursor: pointer;
    padding-left: 37px;
  }

  &__statute-politics {
    text-decoration: underline;
    color: $fourthcolor;
  }

  &__confirmation-icon {
    width: 16px;
    height: 15px;
    fill: $fifhtcolor;
    z-index: 1;
    opacity: 0;
    position: absolute;
    left: 54px;
    top: 437px;
  }

  &__politics-confirmation {
    width: 16px;
    height: 15px;
    outline: 1px solid $brandcolor;
    appearance: none;
    border-radius: 2px;
    z-index: 2;
    opacity: 0;
    position: absolute;
    left: 54px;
    top: 437px;
  }
  &__checbox_empty {
    width: 16px;
    height: 15px;
    z-index: 0;
    opacity: 1;
    position: absolute;
    left: 54px;
    top: 437px;
  }

  &__politics-confirmation:checked + &__confirmation-icon {
    opacity: 1;
  }
  &__sendbutton {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__sendbutton:hover,
  &__sendbutton:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  &__close-btn-icon {
    width: 11px;
    height: 11px;
  }
  &__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    left: 490px;
    background: $fifhtcolor;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
}
