$brandcolor: #212121;
$secondcolor: #000000;
$thirdcolor: #757575;
$fourthcolor: #2196f3;
$fifhtcolor: #ffffff;
$sixthcolor: #2f303a;
$seventhcolor: #e5e5e5;
$eighthcolor: rgba (255, 255, 255, 0.6);
$ninthcolor: #f5f4fa;
$tenthcolor: #eeeeee;
$eleventhcolor: rgba(0, 0, 0, 0.2);
$twelfthcolor: rgba(117, 117, 117, 0.5);
$thirteenthcolor: #ececec;
$fourteenthcolor: rgba(47, 48, 58, 0.8);
$fifteenthcolor: rgba(33, 150, 243, 0.9);
