$brandcolor: #212121;
$secondcolor: #000000;
$thirdcolor: #757575;
$fourthcolor: #2196f3;
$fifhtcolor: #ffffff;
$sixthcolor: #2f303a;
$seventhcolor: #e5e5e5;
$eighthcolor: rgba (255, 255, 255, 0.6);
$ninthcolor: #f5f4fa;
$tenthcolor: #eeeeee;
